<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlePresença.Properties.Settings.testConnectionString" connectionString="server=localhost;user id=escalada;database=test" providerName="MySql.Data.MySqlClient"/>
        <add name="ControlePresença.Properties.Settings.escaladaConnectionString" connectionString="server=localhost;user id=root;database=escalada" providerName="MySql.Data.MySqlClient"/>
        <add name="ControlePresença.Properties.Settings.testeConnectionString" connectionString="server=10.66.121.42;user id=secac;database=teste" providerName="MySql.Data.MySqlClient"/>
        <add name="ControlePresença.Properties.Settings.testeConnectionString1" connectionString="server=10.66.121.42;user id=secac;password=secac;database=teste" providerName="MySql.Data.MySqlClient"/>
        <add name="ControlePresença.Properties.Settings.escaladaConnectionString1" connectionString="server=localhost;user id=root;password=;database=escalada" providerName="MySql.Data.MySqlClient"/>
        <add name="ControlePresença.Properties.Settings.escaladaConnectionString2" connectionString="server=127.0.0.1;user id=root;database=escalada" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
